.left {
    float: left;
}

.right {
    float: right;
}

.left img {
    width: 60px;
    height: 60px;
}

.navigator {
    margin-top: 24px;
    margin-right: 24px;
}

.container {
    width: 96%;
    padding: 12px;
    text-align: center;
}

h2 {
    text-align: center;
}

.input-form {
    width: 50%;
    margin: 24px auto;
}